#### Part 1
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

##### State the null hypothesis: 
All the levels of power are the same. 

##### State the alternate hypothesis: 
There is a significant differance between at least one of the levels of power. 

##### What is the significance level: 
0.05

##### What are the degrees of freedom of model, error terms, and total DoF

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel("files_for_lab/anova_lab_data.xlsx")
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [3]:
data.rename(columns={'Power ':'power', 'Etching Rate':'etching_rate'}, inplace=True)

In [4]:
data.groupby('power').agg(np.mean)

       etching_rate
power
160 W         5.792
180 W         6.238
200 W         8.318

In [5]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate ~ C(power)', data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

#### Degrees of freedom:
2 (number of groups minus 1)

#### DF for error terms: 
12 (total number of observations minus number of groups)

#### Total DoF:
14

With a p=value below a significance level, we can reject the null hypothesis.